body {
  font-family: "Bebas Neue", Arial, sans-serif;
}
.hidden {display: none;}
.container {
  margin: 0 auto;
  background-color: #E5E8E8;
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

.Header {
  width: 100%;
  height: 95px;
  text-align: center;
  background-color: #9EA8A8;
}
.Hero {
  background-color: #ACB7B7;
 width: 100%;
 height: 211px;
 text-align: center;
}
.container2 {
  margin: 0 auto;
  background-color: #E5E8E8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 390px;
}
.Para{
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
}
.beer {
  height: 207px;
  width: 80px;
  background-color: #9EA8A8;
  margin-left: 30px;
  margin-top: 15px;
}
.Edit {
  display: flex;
  flex-direction: row;
}
.PAW {
  margin-left: 40px;
  margin-top: 0;
}
.Button {
  height: 65px;
  width: 145px;
  background-color: #9EA8A8;
  margin: 30px 0 0 60px;
  font-size: 40px;
  text-align: center;
  justify-content: center;
}
.container3 {
  margin: 0 auto;
  background-color: #E5E8E8;
  display: flex;
  flex-direction: column;
  max-width: 390px;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
}
.P1 {
  font-size: 40px;
  text-decoration: underline;
}
.P2 {
  font-size: 40px;
  margin-top: 30px;
}
.P2 span {
  font-size: 50px;
  color: #cb0d18;
}
.Video {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background-color: #ACB7B7;
}
.footer {
  margin: 0 auto;
  width: 100%;
  height: 210px;
  background-color: #9EA8A8;
  margin-top: 10px;
  max-width: 390px;
  text-align: center;

}
@media screen and (min-width: 590px){

  .container {
    margin: 0 auto;
    background-color: #E5E8E8;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
  }
  .Hero {
    background-color: #ACB7B7;
   width: 100%;
   height: 690px;
   text-align: center;
  }
  .container2 {
    margin: 0 auto;
    background-color: #E5E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1280px;
  }

  .Para{
    font-size: 90px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
  }
  .beer {
    height: 638px;
    width: 238px;
    background-color: #9EA8A8;
    margin-left: 0;
    margin-top: 15px;
    margin-right: 30px;
  }
  .Edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
  }
  .PAW {
    justify-content: center;


  }
  .Button {
    justify-content: center;
    margin-right: 15px;

  }
  .container3 {
    margin: 0 auto;
    background-color: #E5E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1280px;
    margin-top: 50px;
  }
  .Paragraphs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
.footer {
  max-width: 1280px;


}
